// Import Global Rules
@use './sass/layout/global-rules';

// Import Layout
@use './sass/pages/contact';

@use './sass/variables/colors' as *;

//global variables
$alt_color: green;

.header{
  color: $alt_color;
}

.footer{
  $alt_color: red;
  color: $alt_color;
}
.sidebar{
  color: $alt;
  background-color: $main;
}

$max_Mobile: "max-width: 768px";

@media ($max_Mobile) {
  .sidebar{
    padding: 20px;
  }
}

//Nesting & parent Element

// Css كنا ينعمل كده في ال  
.parent {
  font-weight: 100;
}

.parent .child{
  font-size: 20px;
}

.parent .child .grand-child{
  font-size: 10px;
}

//الجديد


.parent {
  font-weight: bold;
  .child {
    font-size: 20px;
    .grand-child {
      font-size: 15px;
    }
  }
}

.parent-one,
.parent-two {
  padding: 20px;
  .child {
    padding: 10px;
  }
}

.parent > {
  .child {
    font-size: 20px;
  }
  .test {
    font-weight: bold;
  }
}

.parent {
  > .child {
    font-size: 20px;
  }
  .test {
    font-weight: bold;
  }
  + p {
    font-size: 15px;
  }
}

.parent {
  > {
    .element-one {
      font-size: 10px;
    }
    .element-two {
      font-size: 10px;
    }
  }
  .not-direct-child {
    font-weight: bold;
  }
}

.box {
  .title {
    font-size: 10px;
  }
  .description {
    font-size: 8px;
  }
  &.red {
    color: red;
  }
  &.green {
    color: green;
  }
  &:hover {
    background-color: #eee;
  }
  &:hover .title {
    font-weight: bold;
  }
  :not(&) {
    font-weight: normal;
  }
  [dir="rtl"] & {
    direction: rtl;
  }
}